@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: left;
    align-items: center;

    padding-left: 10px;
    min-height: 100vh;
    
    background-color: #023047;
}

.navegation {
    position: relative;
    height: 500px;
    width: 300px;
    background-color: #5f9ea0;
    box-shadow: 5px 5px 0px #5f9ea089;
    border-radius: 10px;

    transition: 1s ease;
}

.navegation ul {
    list-style: none;
    padding: 10px; 

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    height: 100%;
}

.navegation li{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navegation li a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    height: 100%;
}

.navegation li a:hover, .navegation li a:focus {
    background-color: #edede9;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.navegation li a:hover .title,
.navegation li a:focus .title,
.navegation li a:focus .icon,
.navegation li a:hover .icon{
    color: #023047;
}

.navegation a .title{
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: #edede9;
    font-size: 1em;

    transition: 0.5s ease-in-out;
}

.navegation a .icon{
    display: flex;
    justify-content: center;
    align-items: center;

    color: #edede9;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.fundo {
    background-color: aquamarine !important;
}


